{{ define "Header" }}

{{ end }}

{{ define "Content" }}

<div class="jumbotron">
  <div class="container">
    <h1>インストール成功です!</h1>
    <p>おめでとうございますおめでとうございますおめでとうございますおめでとうございますおめでとうございます</p>
    <p><a class="btn btn-primary btn-lg" href="https://github.com/mjhd-devlion/gum" role="button">Gum &raquo;</a></p>
  </div>
</div>

{{ end }}
